Assets/StreamingAssets
/Data
Assets/Slua/LuaObject
Assets/Slua/LuaObject.meta
Assets/lua
Assets/lua.meta

Assets/Things_temp/
Assets/Things_temp.meta
Assets/Things/_resources.asset
Assets/Things/_resources.asset.meta
Assets/Things/_resources.asset.bak
Assets/Things/_resources.asset.bak.meta

Assets/Things/Prefabs/UI_android
Assets/Things/Textures/UI_android
Assets/Things/Prefabs/UI_android.meta
Assets/Things/Textures/UI_android.meta

Assets/Things/Prefabs/UI_pc
Assets/Things/Textures/UI_pc
Assets/Things/Prefabs/UI_pc.meta
Assets/Things/Textures/UI_pc.meta

Assets/Things/Prefabs/UI_ios
Assets/Things/Textures/UI_ios
Assets/Things/Prefabs/UI_ios.meta
Assets/Things/Textures/UI_ios.meta

Assets/Things/Prefabs/UI_mac
Assets/Things/Textures/UI_mac
Assets/Things/Prefabs/UI_mac.meta
Assets/Things/Textures/UI_mac.meta

# ---------------[ Unity generated ]------------------ #
/Temp
/obj
/UnityGenerated
/Library
# ProjectSettings/
*.sublime-project
*.sublime-workspace

# ----[ Visual Studio / MonoDevelop generated ]------- #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
ReferenceCache.json

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vs
.vscode


